# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio / Rider
.vs/
.idea/
*.iml
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp
*.log
*.bak
*.swp

# Gradle cache directory
.gradle/

# Exported project files
ExportedObj/
.consulo/

# Crash and debug
sysinfo.txt
mono_crash.*

# Blender
*.blend1
*.blend1.meta

# Addressables
/Assets/AddressableAssetsData/*/*.bin*
/Assets/AddressableAssetsData/link.xml*
/Assets/Addressables_Temp*
/Assets/StreamingAssets/aa*
/Assets/InitTestScene*.unity*
/Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.
